﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <script src="~/Scripts/jquery-ui.js"></script>
    

        <script language="javascript" type="text/javascript">

            $('ul li a').filter(function () {

        if ($(this).text() === 'Measurements') {
                $(this).addClass("active");
            };
    });

    $(function () {
                $('#createdDateFrom').datepicker(
                    {
                        dateFormat: 'dd/mm/yy'
                    });
            $('#createdDateTo').datepicker(
            {
                dateFormat: 'dd/mm/yy'
            });
    });
        $(function () {
            $("#datepicker").datepicker({
                autoSize: true,
                buttonImage: "/images/calendar.png",
                maxDate: "-1d",
                dateFormat: 'dd-mm-yy',
                showAnim: 'fadeIn'
            });

            //var selectedTransactionType = $("#lll : selected").text();
            //alert(selectedTransactionType);

        });
    </script>
</head>
<body>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>


    <div class="inputWrapper">
        Date:
        <input type="text" class="size1" id="datepicker">
    </div>

    <div class="container">

        <div class="col-lg-2" style="width: 390px">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Batch ID</span>
                <input name="batchId" id="batchId" type="text" class="form-control" placeholder="Search..." value="@Request["batchId"]">
            </div>
        </div>
        <div class="col-lg-2" style="width: 386px">
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Serial ID</span>
                <input name="serialId" id="serialId" type="text" class="form-control" placeholder="Search..." value="@Request["serialId"]">
            </div>
        </div>
        <div class="col-lg-3" style="width: 170px">
            <div class="btn-group bootstrap-select form-group input-group">
                @*<select name="lenslocation" id="lenslocation" class="selectpicker form-control" title="Lens Location...">
                                @if (Session["lensLocation"] != null)
                            {
                                if (Session["lensLocation"].ToString() == "2")
                                {
                                    <option value="@Request["lenslocation"]">OS (Left)</option>
                            }
                            if (Session["lensLocation"].ToString() == "3")
                            {
                                <option value="@Request["lenslocation"]">OS (Right)</option>
                        }
                        if (Session["lensLocation"].ToString() == "0")
                        {
                            <option value="@Request["lenslocation"]">All lens types</option>
                    }
                }
                                @if (Session["lensLocation"] != null && Session["lensLocation"].ToString().Trim() != "0")
                            {
                                <option value="0">All lens types</option>
                        }
                        else if (Session["lensLocation"] == null)
                        {
                            <option value="0">All lens types</option>
                    }
                                @if (Session["lensLocation"] != null && Session["lensLocation"].ToString().Trim() != "2")
                            {
                                <option value="@Int32.Parse(ViewBag.OculusSinister)">OS (Left)</option>
                        }
                        else if (Session["lensLocation"] == null)
                        {
                            <option value="@Int32.Parse(ViewBag.OculusSinister)">OS (Left)</option>
                    }
                                @if (Session["lensLocation"] != null && Session["lensLocation"].ToString().Trim() != "3")
                            {
                                <option value="@Int32.Parse(ViewBag.OculusDexter)">OD (Right)</option>
                        }
                        else if (Session["lensLocation"] == null)
                        {
                            <option value="@Int32.Parse(ViewBag.OculusDexter)">OD (Right)</option>
                    }
                            </select>*@
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group date">
                <span class="input-group-addon">From</span>
                <input name="createdDateFrom" id="createdDateFrom" type="text" class="form-control" value="@Request["createdDateFrom"]">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group date">
                <span class="input-group-addon">To</span>
                <input name="createdDateTo" id="createdDateTo" type="text" class="form-control" value="@Request["createdDateTo"]">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>


        <div class="col-lg-2">
            <div class='input-group dropdown' id='trantype'>

                <span class="input-group-addon">
                    @Html.DropDownList("lll", new SelectList((System.Collections.IEnumerable)ViewData["tt"]))
                </span>
            </div>
        </div>

            <div class="col-lg-1">
                <input type="submit" name="searchMeasurement" id="searchMeasurement" tabindex="2" class="btn btn-success btn " value="Search">
            </div>



            @*<div class="row">
                <div class='col-md-4'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker5'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                        <div class='input-group input-daterange' id='datetimepicker5'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class='input-group dropdown' id='trantype'>

                            <span class="input-group">
                                @Html.DropDownList("lll", new SelectList((System.Collections.IEnumerable)ViewData["tt"]))
                            </span>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
</body>
</html>


