﻿
<h2>ReportList</h2>

@*<table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Gaurdian</th>
            <th>Associate Teacher</th>

        </tr>
    </thead>
    @foreach (var student in ViewBag.list)
    {
        <tr>
            <td>@student</td>
        </tr>
    }
    </table>*@




@*<div style="float:right">
    <input type="image" class="float_left" src="~/Content/img/back.png" name="previousRecordSet" id="previousrecordSet" onclick="GetNextRecordSet('false')" width="48" height="48">
    <div style="height:48px; line-height:48px; float:left">
        <label class="column_heading">SearchCriteria</label>
    </div>
    <input type="image" src="~/Content/img/forward.png" name="nextRecordSet" id="nextrecordSet" onclick="GetNextRecordSet('true')" width="48" height="48">
</div>*@


    <div class="container">
            <h2>Report List</h2>
            <ul class="list-group ">
                @foreach (var report in ViewBag.reportlist)
                {
                    <li class="list-group-item" >
                        <a href="#">@report</a>
                    </li>
                }
            </ul>
        </div>
