﻿body {
    color: #97999B;
    background-color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 100%
}
/*max-width: 280px;*/
/* Home Page */
a {
    color: #53545a;
    /*color: #97999B;*/
    text-decoration: none;
}

    a :hover {
        color: #97999B;
        text-decoration: none;
    }

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

    .panel-login > .panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align: center;
    }

        .panel-login > .panel-heading a {
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

            .panel-login > .panel-heading a.active {
                color: #029f5b;
                font-size: 18px;
            }

        .panel-login > .panel-heading hr {
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }

.forgot-password {
    text-decoration: underline;
    color: #888;
}

    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.datePickerInput {
    width: 68px !important;
}

.ui-datepicker-trigger {
    margin-left: 2px;
    margin-top: 3px;
    margin-bottom: -3px;
}

.dataEntry {
    border: 1pt solid #999999;
    background-color: #f9f9f9;
    border-collapse: collapse;
    width: 100%;
}

    .dataEntry * td {
        padding: 2px;
    }

        .dataEntry * td:first-child {
            padding-left: 10px;
            white-space: nowrap;
        }
    /*.dataEntry * tr:hover
{
	background-color: #C1D1DD;
}*/
    .dataEntry tr td input.wideText, select.wideText {
        width: 75%;
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 8pt;
    }

    .dataEntry tr td input.adjacentControl, select.adjacentControl {
        margin-left: 10px;
        margin-right: 10px;
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 8pt;
    }

.subHeader {
    background-color: #235e88;
    color: White;
    font-weight: 700;
    background-image: url(Images/GridHeader.gif);
    background-repeat: repeat-x;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    height: 22px;
    margin-top: 1px;
    margin-bottom: 1px;
}

    .subHeader > table {
        width: 100%;
    }

    .subHeader * td:first-child {
        text-align: left;
    }

    .subHeader * td {
        text-align: right;
    }

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.glyphicon.glyphicon-ok-circle {
    font-size: 35px;
    color: darkseagreen;
}

.glyphicon.glyphicon-remove-circle {
    font-size: 35px;
    color: red;
}

.glyphicon.glyphicon-user {
    position: relative;
    font-size: 50px;
    float: left;
    margin-right: 15px;
    color: gray;
}

/*User datalist table*/
.table a.table-link.danger {
    color: #e74c3c;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.user-list tbody td > img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}

.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}

.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}

.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

.table a.table-link.danger {
    color: #e74c3c;
}

.instructionWrapper {
    float: left;
    width: 800px;
    border: solid 1px blue;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    color: #0e8ddf;
    background: aliceblue;
    border: solid 1px #0e8ddf;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

    ul.breadcrumb li {
        display: inline;
        font-size: 18px;
    }

        ul.breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }

        ul.breadcrumb li a {
            color: #0275d8;
            text-decoration: none;
        }

            ul.breadcrumb li a:hover {
                color: #01447e;
                text-decoration: underline;
            }

.font_bold {
    font-weight: bold;
}

a h2:hover {
    color: #5D5858;
    font-weight: bold;
}

.column_heading {
    font-weight: bold;
    color: #5D5858;
}

.active {
    background-color: #ededee;
    color: #28537B !important;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.margin_left5 {
    margin-left: 5px
}

.margin_left40 {
    margin-left: 40px
}

.margin_top5 {
    margin-top: 5px;
}

.margin_top10 {
    margin-top: 10px;
}

.margin_top25 {
    margin-top: 23px;
}

.margin_top20 {
    margin-top: 20px
}

.margin_top30 {
    margin-top: 30px;
}

.margin_top35 {
    margin-top: 35px;
}

.margin_top50 {
    margin-top: 50px;
}

.margin_top70 {
    margin-top: 70px;
}

.margin_top90 {
    margin-top: 90px;
}

.margin_top100 {
    margin-top: 100px;
}

.margin_bottom30 {
    margin-bottom: 30px;
}

.padding_top50 {
    padding-top: 50px;
}

.padding_left20 {
    padding-left: 20px;
}

.padding_left33 {
    padding-left: 33px;
}

.padding_left50 {
    padding-left: 50px;
}

.padding_left65 {
    padding-left: 65px;
}

.padding_left25 {
    padding-left: 25px;
}

.margin_bottom70 {
    margin-bottom: 70px;
}

.margin_bottom10 {
    margin-bottom: 10px;
}

.font_bold {
    font-weight: bold;
}

span.glyphicon-link {
    font-size: 1.2em;
}
/***********************************EYEOTO BRANDING*****************************************/

#ulLog a :hover {
    background-color: transparent !important;
    color: white;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/open_sans/OpenSans-Bold.ttf)
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/open_sans/OpenSans-Light.ttf)
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/open_sans/OpenSans-Regular.ttf)
}

a h2 {
    color: white;
}

ul li {
    text-align: center;
}

.text_align_center {
    text-align: center;
}

.title_header {
    font-size: 24px;
    font-family: OpenSans-Bold;
    color: white;
}

.status_success {
    font-size: 24px;
    font-family: OpenSans-Bold;
    color: #00bb31;
}

.img_caption {
    font-size: 18px;
    font-family: OpenSans-Bold;
    color: white;
}

.column_headingQCh {
    font-size: 20px;
    font-family: OpenSans-Bold;
}

.columns_div {
    height: 38px;
    line-height: 38px;
}

.values_div {
    width: 70px;
}

.page_header {
    font-size: 34px;
    font-family: OpenSans-Bold;
}

.text_header {
    font-size: 15px;
    font-family: OpenSans-Regular;
    /*color: white;*/
}

.content_captions {
    color: #5D5858;
}

.btn_text {
    font-size: 15px;
    font-family: OpenSans-Bold;
}

.txt_content {
    font-size: 15px;
    font-family: OpenSans-Regular;
}

.panel-heading_eyoto {
    border-radius: 13px 13px 0px 0px;
    color: white;
    background-color: #0089C7;
    /*background-color: #97999B;*/
    border-color: #31708f;
}

.panel-heading_grey {
    border-radius: 13px 13px 0px 0px;
    color: #0089C7;
    background-color: #f5f5f5;
    /*background-color: #97999B;*/
    border-color: #ddd;
}

.panel-footer_eyoto {
    border-radius: 0px 0px 25px 25px;
    color: white;
    background-color: #0089C7;
    /*background-color: #97999B;*/
    border-color: #31708f;
}

.panel-radius {
    border-radius: 13px 13px 13px 13px;
}

.panel-radius-left {
    border-radius: 13px 0px 0px 13px;
}

.panel-radius-right {
    border-radius: 0px 13px 13px 0px;
}

.eyoto_top_header {
    background-color: #005239;
    height: 120px;
}

.eyoto_blue {
    color: #0089C7;
}

.eyoto_light_grey {
    color: #53545a;
}

.eyoto_black {
    color: #101820;
}

.eyoto_red {
    color: #F93822;
}

.eyoto_green {
    color: #00bb31;
}

.eyoto_orange {
    color: #FFA300;
}

.eyoto_lime {
    color: #AADB1E;
}

.eyoto_turquoise {
    color: #00C7B1;
}

.color_white {
    color: white;
}

.eyoto_bg_blue {
    background-color: #0089C7;
}

.img hover {
    /*src ="~/Content/img/back_grey.png";*/
}

.stats_heading {
    /*color: #97999B;*/
    color: #5D5858;
    font-size: 24px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    /*align-content:center; text-align:center;  font-size:15px*/
}

.stats_value {
    align-content: center;
    text-align: center;
    font-size: 100px;
    color: #97999B;
}

.home_menu_items {
    width: 80%;
    height: 80%;
    max-width: 290px;
    max-height: 216px
}

.nav_bar_items {
    width: 35%;
    height: 35%;
}

.nav_bar_eyoto {
    /*background-color: #0089C7;*/
    background-color: #525456;
    border-color: #31708f;
    /*padding-top:50px;*/
}

.navbar_brand_eyoto {
    width: 230px;
    text-align: center;
    float: left;
    height: 50px;
    padding-top: 5px;
}

.navbar_breadcrumbs {
    width: 230px;
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 5px 5px 5px 5px;
}

.side_bar {
    z-index: 1;
    position: absolute;
    width: 250px;
    padding-top: 21px;
    height: 100%;
    background-color: #9FA183;
}

.btn-eyoto {
    color: #fff;
    background-color: #0089C7;
    border-color: #31708f;
    /*border-radius: 13px 13px 13px 13px;*/
}

.remove_background_style {
    background-color: transparent;
    text-decoration: none;
}

.link {
    cursor: pointer;
}

.nav_container {
    position: relative;
    height: 120px;
    padding-left: 50px;
}

.nav_text {
    position: absolute;
    bottom: 0;
}

.back_img {
    width: 80%;
}

.back_img_details {
    max-width: 65%;
    max-height: 65%;
}

.align_center_content {
    margin: 0 auto;
    text-align: center;
}

.align_center {
    position: relative;
    text-align: center;
}

.btn-qch:hover {
    color: wheat;
}

.border_none {
    border: none;
}

/*******************************************************************************************/

