﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Forest Garden Portal</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/eyetechvendor/css/sb-admin-2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
  
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            //// format the breadcrumb to remove the last '>'
            //$(".breadcrumb a:last-child").each(function () {
            //    var text = $(this).text();
            //    t = $(this).text(text.replace('>', ''));
            //});

            //// remove the active class of clicked menuitem
            //$('ul li a').click(function () {
            //    $('ul li a').removeClass("active");
            //});

        });

    </script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="eyoto_top_header">
            <div class="nav_bar_eyoto container-fluid">
                <div class="navbar-header">
                    <a class="navbar_brand_eyoto" href="#">
                        <img src="~/Content/img/toplogo_lrge.png" style="height:170px; width: 186px;padding-bottom:40px " />
                    </a>
                </div>
                <div class="navbar_breadcrumbs" style="padding-top:35px; padding-left:50px">
                    <span class="text_header ">
                        @if (ViewBag.Breadcrumbs != null)
                        {
                            foreach (KeyValuePair<string, Guid> entry in ViewBag.Breadcrumbs)
                            {
                                @Html.ActionLink(entry.Key.ToString() + " > ", "MyAccount", "Account", routeValues: new { accountId = entry.Value.ToString() }, htmlAttributes: new { @class = "color_white" })
                            }
                        }
                    </span>
                </div>
                <div class="nav navbar-nav float_right" style="padding-top:35px; padding-right: 25px">
                    <div class="">
                        <ul class="nav navbar-nav">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /.navbar-top-links -->

        <div class="nav_bar_eyoto side_bar" role="navigation">

            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="~/Home" style="background-color: transparent; text-decoration: none;">
                            <img src="~/Content/img/home.png" class="nav_bar_items" />
                        </a>
                        <a href="~/Home" class="title_header panel-radius">Home</a>
                    </li>
                    <li class="margin_top25">

                        <a href="~/Report/ReportList" style="background-color: transparent; text-decoration: none;">
                            <img src="~/Content/img/messurement.png" class="nav_bar_items" />
                        </a>
                        <a href="~/Report/ReportList" class="title_header panel-radius">Reports</a>

                    </li>
                    <li class="margin_top25">

                        <a href="~/Measurement" style="background-color: transparent; text-decoration: none;">
                            <img src="~/Content/img/measurements_1.png" class="nav_bar_items" />
                        </a>
                        <a href="~/Measurement" class="title_header panel-radius">Measurements</a>

                    </li>
                    @*<li class="margin_top25">

                                <a href="~/Device" style="background-color: transparent; text-decoration: none;">
                                    <img src="~/Content/img/devices.png" class="nav_bar_items" />
                                </a>
                                <a href="~/Device" class="title_header panel-radius">Devices</a>

                        </li>
                        <li class="margin_top25">

                                <a href="~/User/UserPermission" style="background-color: transparent; text-decoration: none;">
                                    <img src="~/Content/img/subaccounts.png" class="nav_bar_items" />
                                </a>
                                <a href="~/User/UserPermission" class="title_header panel-radius">Users</a>
                        </li>
                        <li class="margin_top25">

                                <a href="~/Account/AccountList" style="background-color: transparent; text-decoration: none;">
                                    <img src="~/Content/img/accounts.png" class="nav_bar_items" />
                                </a>
                                <a href="~/Account/AccountList" class="title_header panel-radius">Sub Companies</a>

                        </li>
                        <li>&nbsp;</li>*@
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            @RenderBody()
            @*<div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                </div>*@

        </div>
        <!-- /#page-wrapper -->
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>



