﻿
@*<ul id="ulLog" class="nav navbar-nav navbar-right" style="padding-right:4px;">
    <li class="dropdown">
        <a class="dropdown-toggle color_white" style="background-color: transparent !important; color: white;" data-toggle="dropdown" id="profile-link">
            <span class="glyphicon glyphicon-user" style="color: white"></span>
            @User.Identity.Name
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Sign out", "SignOut", "Account")</li>
        </ul>
    </li>
</ul>*@

<ul id="ulLog" class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle color_white" style="background-color: transparent !important; color: white;" data-toggle="dropdown" id="profile-link">            
            @User.Identity.Name
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Sign out", "SignOut", "Account")</li>
        </ul>
    </li>
    <li>
        @*<span class="glyphicon glyphicon-user" style="color: white"></span>*@
        <img src="~/Content/img/user.png" style="max-height:50px; max-width:50px;" />
    </li>
</ul>

