﻿<style>
    .container a {
        width: 200px;
        height: 200px
    }
</style>

<script language="javascript" type="text/javascript">

    // make the menu item active.
    $(document).ready(function () {

        $('ul li a').filter(function () {

            if ($(this).text() === 'Home') {
                $(this).addClass("active");
            };

        });

    });

</script>
<div class="container">
    <div class="row margin_top90">
        <div class="col-lg-4 text_align_center">
            @*@if ((Session["User_View"] != null && (bool)Session["User_View"]) || (Session["accountHolder"] != null && (bool)Session["accountHolder"]))
                {*@
            <a href="@Url.Action("Index", "Report")">
                <figure>
                    <img src="~/Content/img/measurements_blue.png" class="home_menu_items" />
                    <figcaption class="stats_heading margin_top30">MANAGEMENT ACCOUNTS</figcaption>
                </figure>
            </a>@*}*@
        </div>
        <div class="col-lg-4 text_align_center">
            @*@if ((Session["Measurement_View"] != null && (bool)Session["Measurement_View"]) || (Session["accountHolder"] != null && (bool)Session["accountHolder"]))
                {*@
            <a href="@Url.Action("Index", "Measurement")">
                <figure>
                    <img src="~/Content/img/measurements.png" class="home_menu_items" />
                    <figcaption class="stats_heading margin_top30">HUMAN RESOURCES</figcaption>
                </figure>
            </a>@*}*@
        </div>
        <div class="col-lg-4 text_align_center">
            @if ((Session["Device_View"] != null && (bool)Session["Device_View"]) || (Session["accountHolder"] != null && (bool)Session["accountHolder"]))
            {
                <a href="@Url.Action("Index", "Device")">
                    <figure>
                        <img src="~/Content/img/devices_blue.png" class="home_menu_items" />
                        <figcaption class="stats_heading margin_top30">DEVICES</figcaption>
                    </figure>
                </a>
            }
        </div>
    </div>
    <div class="row margin_top90">
        <div class="col-lg-4 text_align_center">
            @if ((Session["User_View"] != null && (bool)Session["User_View"]) || (Session["accountHolder"] != null && (bool)Session["accountHolder"]))
            {
                <a href="@Url.Action("UserPermission", "User")">
                    <figure>
                        <img src="~/Content/img/subaccounts_blue.png" class="home_menu_items" />
                        <figcaption class="stats_heading margin_top30">USERS</figcaption>
                    </figure>
                </a>}
        </div>
        <div class="col-lg-4 text_align_center">
            @if ((Session["Account_View"] != null && (bool)Session["Account_View"]) || (Session["accountHolder"] != null && (bool)Session["accountHolder"]))
            {
                <a href="@Url.Action("AccountList", "Account")">
                    <figure>
                        <img src="~/Content/img/account.png" class="home_menu_items" />
                        <figcaption class="stats_heading margin_top30">SUB COMPANIES</figcaption>
                    </figure>
                </a>}
        </div>
    </div>
</div>